
<div class="form-wrapper">
    <form action="" class="form">
        <h1 class="form__title">Sign In</h1>
        <div class="form__item">
            <p>Email</p>
            <input type="email" placeholder="Email">
        </div>
        <div class="form__item">
            <p>Password</p>
            <input type="password" placeholder="Password">
        </div>
        <div class="form__item">
            <input class="submit" type="submit" value="Sign In">
        </div>
        
    
        
    </form>
</div>

